<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/style.css" rel="stylesheet">
    
    <!-- JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Favicon -->
    <link rel="icon" href="public/assets/favicon.webp" type="image/x-icon">
    <!-- Page Title -->
    <title>Security Control Simulation System</title>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="custom-navbar">
        <div class="navbar-logo">
            <a>SCSS</a>
        </div>
        <ul class="navbar-text">
            <li>
                <a href="/"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a>
            </li>
        </ul>
    </nav>

    <!-- Login Form -->
    <form action="/" method="POST">
        <div>
            <input type="text" id="ID" name="ID" placeholder="ID (Number 1 - x)" required>
        </div>
        <button type="submit">
            <span class="glyphicon glyphicon-log-in"></span> Login
        </button>
    </form>
</body>
</html>
